extends layout

block content
  h1 Banda test task
  p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, blanditiis cumque deleniti dolores ex explicabo impedit, ipsam odio officia omnis pariatur quas quisquam repudiandae sequi tempore veritatis voluptas voluptate voluptatum.
